/*style.css*/
body {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
  }
.custom-nav{
  margin-top: -22px;
  color: #455A64;
}
.footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #455A64;
   color: black;
   text-align: center;
}
